/* 全局设计变量。uni-app 会自动把这个文件注入每个组件的 scss 作用域 */

$yq-primary: #e05a7d;
$yq-primary-light: #fdeef2;
$yq-bg: #f5f6f8;
$yq-border: #ebeef5;
$yq-text: #303133;
$yq-text-secondary: #909399;
$yq-radius: 16rpx;

$yq-success: #67c23a;
$yq-warning: #e6a23c;
$yq-danger: #f56c6c;
